@import "/src/assets/styles/core/breakpoints";

.info-line {
  background-color: var(--primary-color);
  color: white;

  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 50%;
    margin: 0 auto;
    padding: 4px 0;

    .time-wrapper,
    .phone-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: var(--column-gap);
      align-items: center;
    }

    .phone-wrapper {
      justify-self: end;
    }

    .time-wrapper {
      justify-self: center;
    }

    p {
      font-size: 0.8rem;
    }

    mat-icon {
      font-size: 0.8rem;
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}

@include screen ('big-desktop') {
  .info-line {
    .content-wrapper {
      max-width: 80%;
    }
  }
}

@include screen('tablet') {
  .info-line {

    .content-wrapper {
      grid-template-columns: repeat(2, 1fr);
      //max-width: 80%;

      .time-wrapper {
        display: none;
      }
    }
  }
}

@include screen('phone') {
  .info-line {
    .content-wrapper {
      max-width: 95%;
    }
  }
}