app-info-line {
  width: 100%;
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  align-items: center;
  justify-items: center;
  height: 100px;
  background-color: var(--main-background);
  width: 100%;
  //border-bottom: 1px solid red;

  .nav-items {
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: var(--column-gap);
  }

}






.router-active {
  color: red;
}
