<app-info-line></app-info-line>

<section class="nav-wrapper">
  <div class="content">
    <div class="image-wrapper">
      <img src="assets/images/siluets_logo_transparent_background.png" width="120" height="120" alt="siluets_logo"
        loading="eager" routerLink="home">
    </div>

    <div class="nav-items">
      <a routerLink="/home" routerLinkActive="router-active">Sākums</a>
      <a routerLink="/services" routerLinkActive="router-active">Pakalpojumi</a>
      <a routerLink="/blog" routerLinkActive="router-active">Blogs</a>
      <a routerLink="/offers" routerLinkActive="router-active">Piedāvājumi</a>
      <a routerLink="/contacts" routerLinkActive="router-active">Kontakti</a>
    </div>

    <app-language-switcher></app-language-switcher>
  </div>
</section>