<div class="container">
  <section class="home-main-image">
    <h1>Mūsu blogs</h1>
  </section>
  <section class="blog-items">
    <div class="card-text">
      <h2>Skaistums kā dzīvesveids</h2>
      <p>Parunāsim ne par procedūrām.</p>
    </div>
    <div class="card">
      <img src="assets/images/blog_beauty_as_lifestyle.png" width="648" height="426"
        alt="blog_beauty_as_lifestyle_image">
      <button mat-button routerLink="beauty">
        Lasīt vairāk
      </button>
    </div>
  </section>
  <section class="home-main-image">
  </section>
</div>
<router-outlet></router-outlet>
