<div class="container">

  <section class="home-main-image">
    <h1>Mūsu pakalpojumi</h1>
  </section>

  <section class="services-items">
    <div class="card">
      <img src="assets/images/services_body_card_image.png" width="700" height="700" alt="services_body_image">
      <button mat-button routerLink="body">
        Ķermenis
      </button>
    </div>
    <div class="card">
      <img src="assets/images/services_face_card_image.png" width="325" height="325" alt="services_face_image">
      <button mat-button routerLink="face">
        Seja
      </button>
    </div>
    <div class="card">
      <img src="assets/images/services_waxing_card_image.png" width="366" height="366" alt="services_waxing_image">
      <button mat-button routerLink="waxing">
        Vaksācija
      </button>
    </div>
  </section>

  <section class="home-main-image">
  </section>

</div>
<router-outlet></router-outlet>
