<div class="container">
  <section class="home-main-image">
    <h1>Mēs piedāvājam</h1>
  </section>
  <section class="offers-items">
    <div class="body-offers">

      <button mat-button routerLink="/services/body">
        Ķermenim
      </button>
      <div class="offer-item-row">
        <p>LPG</p>
        <p>masāža 1 seanss</p>
        <span>-</span>
        <span>30</span>
        <span>€</span>
      </div>
      <div class="offer-item-row">
        <p>LPG</p>
        <p>masāža 5 seansi</p>
        <span>-</span>
        <span>145</span>
        <span>€</span>
      </div>
      <div class="offer-item-row">
        <p>LPG</p>
        <p>masāža 10 seansi</p>
        <span>-</span>
        <span>270</span>
        <span>€</span>
      </div>
      <div class="offer-item-row">
        <p>Ietīšana</p>
        <p>1 procedūra</p>
        <span>-</span>
        <span>45</span>
        <span>€</span>
      </div>
      <div class="offer-item-row">
        <p>LPG</p>
        <p>masāža + ietīšana</p>
        <span>-</span>
        <span>65</span>
        <span>€</span>
      </div>
    </div>
    <div class="face-offers">

      <button mat-button routerLink="/services/face">
        Sejai
      </button>
      <div class="offer-item-row">
        <p>LPG</p>
        <p>masāža 1 seanss</p>
        <span>-</span>
        <span>50</span>
        <span>€</span>
      </div>
      <div class="offer-item-row">
        <p>Anti-age</p>
        <p>masāža 1 seanss</p>
        <span>-</span>
        <span>55</span>
        <span>€</span>
      </div>
      <div class="offer-item-row">
        <p>Sejas tīrīšana</p>
        <p>1 procedūra</p>
        <span>-</span>
        <span>45</span>
        <span>€</span>
      </div>
    </div>
  </section>
  <section class="home-main-image">
  </section>
</div>