@import "/src/assets/styles/core/breakpoints";

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 397px 1fr auto auto 277px;
}

.description {
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  .description-text {
    max-width: 60%;
  }

  h1,
  h2,
  p {
    text-align: center;
  }

  h1 {
    margin: 50px 0;
  }

  h2 {
    margin: 50px 0 20px 0;
  }

  p {
    margin: 30px 0 50px 0;
    font-size: 1.5rem;
  }
}

.gift-card {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 20px;

  img {
    max-width: 100%;
  }
}

.divider-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;

  mat-divider {
    --mat-divider-width: 0.18rem;
    border-top-color: var(--primary-color);
    width: 100%;
    max-width: 100px;
  }
}

.we-use {
  background-color: var(--main-background);

  .section-wrapper {
    max-width: 80%;
    margin: 0 auto;

    .images-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      margin-bottom: 50px;

      img {
        max-width: 40%;
        width: 100%;
        min-width: 100px;
        height: auto;
      }
    }

    h1 {
      text-align: center;
      margin: 50px 0 30px 0;
    }
  }
}

@include screen ('small-desktop') {
  .description {
    .description-text {
      max-width: 80%;
    }

    h1 {
      margin: 30px 0;
      font-size: var(--font-lg);
    }

    h2 {
      margin: 30px 0 10px 0;
      font-size: var(--font-md);
    }

    p {
      margin: 10px 0 30px 0;
      font-size: var(--font-md);
    }
  }

  .we-use {
    .section-wrapper {
      .images-wrapper {
        margin-bottom: 30px;
      }

      h1 {
        margin: 30px 0 20px 0;
        font-size: var(--font-lg);
      }
    }
  }
}

@include screen ('tablet') {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 462px 1fr 277px 277px 277px;
  }

  .description {
    .description-text {
      max-width: 90%;
    }

    h1 {
      margin: 20px 8px;
      font-size: var(--font-md);
    }

    h2 {
      margin: 20px 8px 10px 8px;
      font-size: var(--font-sm);
    }

    p {
      margin: 10px 5px 20px 5px;
      font-size: var(--font-sm);
    }
  }

  .we-use {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    .section-wrapper {
      max-width: 90%;

      .images-wrapper {
        margin-bottom: 0;
      }

      h1 {
        margin: 0 0 30px 0;
        font-size: var(--font-md);
      }
    }
  }
}

@include screen ('phone') {
  .gift-card {
    padding: 10px;

    img {
      height: auto;
    }
  }

  .we-use {
    .section-wrapper {
      max-width: 100%;

      .images-wrapper {
        img {
          min-width: 80px;
        }
      }

      h1 {
        margin: 0 0 30px 0;
        font-size: var(--font-md);
      }
    }
  }
}
