@import "/src/assets/styles/core/breakpoints";

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 270px 1fr 270px auto 270px;
  margin-top: 160px;

  .home-main-image {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
}

.description {
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  &.mobile {
    h1:nth-of-type(2) {
      display: none;
    }
  }

  .description-text {
    max-width: 60%;
  }
}

.gift-card {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 20px;

  img {
    max-width: 100%;
  }
}

.divider-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;

  mat-divider {
    --mat-divider-width: 0.11rem;
    border-top-color: var(--primary-color);
    width: 100%;
    max-width: 60%;
  }
}

.we-use {
  background-color: var(--main-background);

  .section-wrapper {
    max-width: 60%;
    margin: 0 auto;

    .images-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      margin-bottom: 50px;

      img {
        max-width: 40%;
        width: 100%;
        min-width: 100px;
        height: auto;

        &:nth-of-type(1),
        &:nth-of-type(4) {
          justify-self: start;
        }

        &:nth-of-type(3),
        &:nth-of-type(6) {
          justify-self: end;
        }

        &:nth-of-type(2) {
          max-width: 30%;
        }
      }
    }
  }
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  margin: 50px 0;
}

p {
  margin: 30px 0;
}

@include screen ('big-desktop') {
  .description {
    .description-text {
      max-width: 95%;
    }
  }

  .divider-wrapper {
    mat-divider {
      max-width: 95%;
    }
  }

  .we-use {
    .section-wrapper {
      max-width: 95%;
    }
  }
}

@include screen ('small-desktop') {
  .container {
    grid-template-rows: 200px 1fr auto auto 200px;
  }

  .we-use {
    .section-wrapper {
      .images-wrapper {
        margin-bottom: 30px;
      }
    }
  }

  h1 {
    margin: 30px 0;
    font-size: var(--font-lg);
  }

  h2 {
    margin: 30px 0;
    font-size: var(--font-md);
  }

  p {
    margin: 30px 0;
  }
}

@include screen ('tablet') {
  .container {
    margin-top: 166px;
  }

  .we-use {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    .section-wrapper {
      .images-wrapper {
        margin-bottom: 10px;
      }
    }
  }

  h1 {
    margin: 10px 8px;
    font-size: var(--font-md);
  }

  p {
    margin: 10px 8px;
    font-size: var(--font-sm);
  }
}

@include screen ('phone') {
  .container {
    grid-template-rows: 100px 1fr auto auto 100px;

    .home-main-image {
      &.mobile {
        h1 {
          display: none;
        }
      }
    }
  }

  .description {
    &.mobile {
      h1:nth-of-type(1) {
        display: none;
      }

      h1:nth-of-type(2) {
        display: block;
      }
    }
  }

  .gift-card {
    padding: 10px;

    img {
      height: auto;
    }
  }

  .we-use {
    .section-wrapper {
      .images-wrapper {
        img {
          min-width: 80px;
        }
      }
    }
  }
}