<div class="container">

  <section class="home-main-image">
    <h1>Sveicam Jūs skaistumkopšanas studijā "Siluets"</h1>
  </section>

  <section class="description">
    <h2>Jūsu skaistums nevainojamā izpildījumā.</h2>

    <div class="divider-wrapper">
      <mat-divider></mat-divider>
    </div>

    <div class="description-text">
      <p>Visos laikos skaistuma un jaunības saglabāšanas noslēpumi ir piesaistījuši uzmanību. Mūsu salona mājīgajā
        atmosfērā daudzu gadu laikā mēs rūpējamies par visām Jūsu skaistuma šķautnēm. Individuāla pieeja, efektīvas
        procedūras un Jūsu acu starojošais smaids ir mūsu darba mērķis. Mēs padarīsim uzturēšanos salonā maksimāli
        ērtu un patīkamu.
      </p>
    </div>

    <div class="divider-wrapper">
      <mat-divider></mat-divider>
    </div>
    <h1>Dāvanu karte palīdzēs piepildīties Jūsu sapnim!</h1>
  </section>

  <section class="gift-card">
    <img src="assets/images/gift_card_image.png" width="432" height="213" alt="gift_card_image">
  </section>

  <section class="we-use">
    <div class="section-wrapper">
      <h1>Mēs izmantojam</h1>
      <div class="images-wrapper">
        <img src="assets/images/ericson-removebg.png" width="500" height="500" alt="ericson-image">
        <img src="assets/images/lpg.png" width="400" height="400" alt="lpg-image">
        <img src="assets/images/algotherm-removebg.png" width="1024" height="638" alt="algotherm-image">
        <img src="assets/images/gigi-removebg.png" width="542" height="290" alt="gigi-image">
        <img src="assets/images/prx-removebg.png" width="1024" height="446" alt="prx-image">
        <img src="assets/images/onmacabim-removebg.png" width="598" height="242" alt="onmacabim-image">
      </div>
    </div>
  </section>

  <section class="home-main-image">
  </section>
</div>
