.container {
  display: grid;
  grid-template-columns: 1fr;
}

.home-main-image {
  height: 300px; //TODO! Needs attention!!!!!
}

.description {
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  .description-text {
    max-width: 60%;
  }

  h1,
  h2,
  p {
    text-align: center;
  }

  h1 {
    margin: 50px 0;
  }

  h2 {
    margin: 50px 0 20px 0;
  }

  p {
    margin: 30px 0 50px 0;
    font-size: 1.5rem;
  }
}

.gift-card {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 50px 0;

  img {
    max-width: 100%;
    height: auto;
  }
}

.divider-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;

  mat-divider {
    --mat-divider-width: 0.18rem;
    border-top-color: var(--primary-color);
    width: 100%;
    max-width: 100px;
  }
}

.we-use {
  background-color: var(--main-background);
  max-height: 700px; //TODO! Needs attention!!!!!
  min-height: 400px; //TODO! Needs attention!!!!!

  .section-wrapper {
    max-width: 80%;
    margin: 0 auto;

    .images-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      margin-bottom: 50px;

      img {
        max-width: 40%; //TODO! Needs attention!!!!!
        min-width: 100px; //TODO! Needs attention!!!!!
        height: auto;

        &:nth-of-type(1) {
          max-width: 30%; //TODO! Needs attention!!!!!
          min-width: 100px; //TODO! Needs attention!!!!!
          height: auto;
        }
      }
    }

    h1 {
      text-align: center;
      margin: 50px 0 30px 0;
    }
  }
}