<div class="container">
  <section class="home-main-image">
    <!-- <img ngSrc="assets/images/home_main.png" height="380" width="1000" priority alt="home_main_image"> -->
  </section>
  <section class="description">
    <h1>
      Sveicam Jūs skaistumkopšanas studijā "Siluets"
    </h1>

    <div class="divider-wrapper">
      <mat-divider></mat-divider>
    </div>

    <h2>Jūsu skaistums nevainojamā izpildījumā</h2>

    <div class="description-text">
      <p>Visos laikos skaistuma un jaunības saglabāšanas noslēpumi ir piesaistījuši uzmanību. Mūsu salona mājīgajā
        atmosfērā daudzu gadu laikā mēs rūpējamies par visām Jūsu skaistuma šķautnēm. Individuāla pieeja, efektīvas
        procedūras un Jūsu acu starojošais smaids ir mūsu darba mērķis. Mēs padarīsim uzturēšanos salonā maksimāli
        ērtu un patīkamu</p>
    </div>

    <div class="divider-wrapper">
      <mat-divider></mat-divider>
    </div>
    <h1>Dāvanu karte palīdzēs piepildīties Jūsu sapnim!</h1>
  </section>


  <section class="gift-card">
    <!-- <img ngSrc="assets/images/home_main.png" height="380" width="1000" priority alt="home_main_image"> -->
    <div class="gift-card-image">

    </div>
  </section>

  <!-- <section class="news">
    <button mat-button color="primary" (click)="redirectTo()">More</button>
  </section> -->

  <section class="we-use">
    <div class="section-wrapper">
      <h1>Mēs izmantojam</h1>
      <div class="images-wrapper">
        <img ngSrc="assets/images/lpg.png" width="192" height="192" priority alt="lpg-image">
        <img ngSrc="assets/images/onmacabim-removebg.png" width="192" height="78" priority alt="onmacabim-image">
        <img ngSrc="assets/images/ericson-removebg.png" width="192" height="192" priority alt="ericson-image">
        <img ngSrc="assets/images/gigi-removebg.png" width="192" height="103" priority alt="gigi-image">
        <img ngSrc="assets/images/prx-removebg.png" width="192" height="84" priority alt="prx-image">
        <img ngSrc="assets/images/algotherm-removebg.png" width="192" height="120" priority alt="algotherm-image">
      </div>
    </div>
  </section>

</div>