@import "/src/assets/styles/core/breakpoints";

.container {
  background-color: var(--primary-color);
  color: #ffffff;
  padding-bottom: 20px;

  .footer-wrapper {
    margin: 0 auto;
    max-width: 60%;
    width: 100%;
  }

  h3 {
    margin: 20px 0;
    text-align: center;
  }
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--column-gap);
  justify-items: center;

  .item-container {
    .links-wrapper {
      &.mobile {
        display: none;
      }
    }

    p {
      text-align: justify;
    }

    li,
    .services-item {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: var(--primary-hover-color);
      }
    }

    .services-item {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: var(--column-gap);
      align-items: center;
    }

    .contacts-item {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: var(--column-gap);

      &:first-of-type {
        margin-bottom: 20px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          color: var(--primary-hover-color);
        }
      }
    }

    .working-hours-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: var(--column-gap);
    }
  }

  mat-icon {
    font-size: 1.1rem;
    width: 1.1rem;
    height: 1.1rem;
  }
}

.siluets-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;

  .media-icons-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;

    a {
      display: flex;

      mat-icon {
        font-size: var(--font-lg);
        width: var(--font-lg);
        height: var(--font-lg);
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          color: var(--primary-hover-color);
        }
      }
    }
  }
}

.siluets-rights-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--column-gap);
  justify-items: center;

  .siluets-rights {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--column-gap);
    align-items: center;
  }

  p {
    font-size: var(--font-sm);
  }
}

@include screen ('big-desktop') {
  .container {
    .footer-wrapper {
      max-width: 95%;
    }
  }
}

@include screen ('small-desktop') {
  .footer-content {
    .item-container {

      &.item1 {
        grid-column: 1 / span 2;
        grid-row: 1;
      }

      &.item2 {
        grid-column: 3 / span 2;
        grid-row: 1;
      }

      &.item3 {
        grid-column: 1 / span 2;
        grid-row: 2;
      }

      &.item4 {
        grid-column: 3 / span 2;
        grid-row: 2;
      }
    }
  }
}

@include screen ('phone') {
  .container {
    padding-bottom: 10px;

    h3 {
      font-size: var(--font-sm);
      margin: 10px 0;
    }
  }

  .footer-content {
    grid-template-columns: 1fr;

    .item-container {
      .links-wrapper {
        display: none;

        &.mobile {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center;
          column-gap: var(--column-gap);
        }
      }

      p,
      li {
        font-size: var(--font-sm);
      }

      &.item1 {
        grid-column: 1;
        grid-row: 1;
      }

      &.item2 {
        grid-column: 1;
        grid-row: 2;
      }

      &.item3 {
        grid-column: 1;
        grid-row: 3;
      }

      &.item4 {
        grid-column: 1;
        grid-row: 4;
      }
    }
  }

  .siluets-rights-wrapper {
    .siluets-rights {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: var(--column-gap);
    }

    p {
      font-size: var(--font-xsm);
    }
  }

  .siluets-media {
    grid-template-columns: 1fr;
    margin: 20px 0;

    h3 {
      display: none;
    }
  }
}