@use 'assets/styles/theme/theme';
@use 'assets/styles/core/fonts';
@use 'assets/styles/theme/typography';
@use 'assets/styles/theme/helpers';
@use 'assets/styles/core/breakpoints';

$default-font: 'Crimson Text';

/** Main styles **/
html,
body {
  // content: "";
  width: 100%;
  height: 100%;
  font-size: var(--global-font-size);
  margin: 0;
  color: var(--global-font-color);
  caret-color: transparent;
}

* {
  box-sizing: border-box;
  font-family: $default-font;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  outline: none;
}

a {
  text-decoration: none;
  color: white;
}


// ::-webkit-scrollbar {
//   display: none;
//   width: 0;
//   background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background: var(--primary-color);
//   border: 4px solid transparent;
//   border-radius: 100px;
//   background-clip: content-box;
// }

// @keyframes bgFade {
//   from {
//     opacity: 0;
//   }

//   to {
//     opacity: 1;
//   }
// }

app-root {
  font-family: $default-font;
}
