@use '@angular/material' as mat;
@use 'palette' as *;
@use '@angular/material/theming' as *;

$siluets-primary: mat.define-palette($siluets-primary);
$siluets-accent: mat.define-palette($siluets-accent);

$siluets-base-theme: mat.define-light-theme((color: (primary: $siluets-primary, accent: $siluets-accent, ),
    ));

:root {
  --primary-color: #{mat.get-color-from-palette($siluets-primary, 500)};
  --accent-color: #{mat.get-color-from-palette($siluets-accent, 700)};

  --primary-hover-color: #{mat.get-color-from-palette($siluets-primary, 200)};
  --accent-hover-color:#{mat.get-color-from-palette($siluets-accent, 300)};

  --global-font-color: #58595b;

  --global-font-size: 1rem;
  --font-xsm: 0.9rem;
  --font-sm: 1rem;
  --font-md: 1.4rem;
  --font-lg: 2rem;
  --font-xl: 2.6rem;
  --font-weight-bold: 600;

  --column-gap: 0.8rem;
  --row-gap: 0.8rem;
  --main-background: #ffffff;
  --secondary-background: #{mat.get-color-from-palette($siluets-primary, 100)};
  --dark-background-color: #484849;
  --border-radius: 0.4rem;
}

@include mat.core();
@include mat.all-component-themes($siluets-base-theme);
